In [2]:
#1.create a pandas data frame
import pandas as pd
data={'name':['alice','bob','david'],'age':[20,18,19],'department':['cse','ece','IT']}
df=pd.DataFrame(data)
print(df)

    name  age department
0  alice   20        cse
1    bob   18        ece
2  david   19         IT

In [3]:
#2.select given columns
df1=df[['name','age']]
print(df1)

    name  age
0  alice   20
1    bob   18
2  david   19

In [6]:
#3select records where age >20
df2=df[df['age']>18]
print(df2)

    name  age department
0  alice   20        cse
2  david   19         IT

In [7]:
#4sort the records by age (desc order)
df3=df.sort_values(by='age',ascending=False)
print(df3)

    name  age department
0  alice   20        cse
2  david   19         IT
1    bob   18        ece

In [8]:
#5 calcukate mean age 
avg=df['age'].mean()
print(avg)

19.0

In [9]:
#6add new column course 
df['course']=['data science','cyber security','data analyst']
print(df)

    name  age department          course
0  alice   20        cse    data science
1    bob   18        ece  cyber security
2  david   19         IT    data analyst

In [10]:
#7.max age student
max_age=df['age'].max()
print(max_age)

20

In [12]:
#8count of students by department
count_students=df.groupby('department')['name'].count()
print(count_students)

department
IT     1
cse    1
ece    1
Name: name, dtype: int64

In [13]:
#9.add another coulmn fee of course
df['fee structure']=[20000,10000,5000]
print(df)

    name  age department          course  fee structure
0  alice   20        cse    data science          20000
1    bob   18        ece  cyber security          10000
2  david   19         IT    data analyst           5000

In [15]:
#10select records where fees graeyer than 10 k
df4=df[df['fee structure']>10000]
print(df4)

    name  age department        course  fee structure
0  alice   20        cse  data science          20000

In [17]:
#11 total fees
total_fees=df['fee structure'].sum()
print(total_fees)

35000