A Series is a one-dimensional array with labeled indices in Pandas, essentially like a single column of data. It’s useful when you need to handle a single list or array with index labels, such as a time series or list of scores.

A DataFrame is a two-dimensional structure with rows and columns, where each column can be a different data type. It’s ideal for handling tabular data, like a spreadsheet or SQL table, where you have multiple columns with associated labels.

Use cases:

Series: Storing data for a single variable, like prices over time.
DataFrame: Handling structured datasets, like a dataset of employees with columns for name, age, and department.

In summary, a Series is like a list or array but with the added flexibility of labeled indexing, data alignment, handling of missing values, and many built-in functions—features that make it better suited for data analysis tasks.

In machine learning and data analysis, Pandas Series is commonly used in these scenarios:

Working with Single Columns: When you need to isolate a single column from a DataFrame (like a target variable y), it’s often represented as a Series.

python

y = df['target_column']  # Extracts a single column as a Series

In [10]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
import pandas as pd
ds=pd.Series([1,2,3,4])
print(ds)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
#2Write a Pandas program to convert a Panda module Series to Python list and it's type
ds=pd.Series([1,2,3,4])
print(type(ds))
print(ds.tolist)

<class 'pandas.core.series.Series'>
<bound method IndexOpsMixin.tolist of 0    1
1    2
2    3
3    4
dtype: int64>

In [5]:
#3Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print(ds1-ds2)
print(ds1+ds2)
print(ds1/ds2)

0    1
1    1
2    1
3    1
4    1
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [6]:
#4.compare two data series
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [7]:
#5.Write a Pandas program to convert a dictionary to a Pandas series

dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
new_series=pd.Series(dict1)
print(new_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [8]:
#6.Numpy arrays to pandas series 
import numpy as np 
arr=np.array([1,2,3,4])
new_series=pd.Series(arr)
print(new_series)

0    1
1    2
2    3
3    4
dtype: int32

In [14]:
#7 chnage data type of coulmn of series column
ds=pd.Series([1,2,3,'python'])
print(ds)
ds2=pd.to_numeric(ds1)
print(ds2)

0         1
1         2
2         3
3    python
dtype: object
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [16]:
#8 series to array 
ds=pd.Series([1,2,3,4])
print(ds) 
a=ds.values
print(a)
print(type(a))

0    1
1    2
2    3
3    4
dtype: int64
[1 2 3 4]
<class 'numpy.ndarray'>

In [19]:
#9 series of list into single list 
ds1=pd.Series([['red','green'],['yellow','blue']])
print(ds1)
ds1=ds1.apply(pd.Series).stack().reset_index(drop=True)
print(ds1)

0      [red, green]
1    [yellow, blue]
dtype: object
0       red
1     green
2    yellow
3      blue
dtype: object

In [21]:
#10 add some data to original series
ds1=pd.Series([1,2,3,4])
ds1=pd.concat([ds1, pd.Series([500, "php"])], ignore_index=True)
print(ds1)

0      1
1      2
2      3
3      4
4    500
5    php
dtype: object

In [1]:
#11 
import pandas as pd

# Creating a Pandas Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data, name="Numbers")

# Display the Series
print("Series:")
print(series)

# Accessing elements by index
print("\nElement at index 2:", series[2])

# Calculating the sum of all elements
print("\nSum of the Series:", series.sum())

# Calculating the mean of all elements
print("Mean of the Series:", series.mean())

# Accessing elements by condition (values greater than 25)
print("\nElements greater than 25:")

Series:
0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64

Element at index 2: 30

Sum of the Series: 150
Mean of the Series: 30.0

Elements greater than 25:

NameError: name 'prin' is not defined