1.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
res=[]
for i in range(2000,3201):
    if(i%7==0)and(i%5!=0):
        res.append(str(i))
','.join(res)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

2.Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:

In [10]:
def fact(num):
    if num==1 or num==0:
        return 1
    else:
        return num*fact(num-1)
num=8
print(fact(num))

40320

3.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:

In [12]:
num=8
d={}
for i in range(1,num+1):
    d[i]=i*i
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98

In [22]:
values=(input("enter n values"))
l=values.split(",")
t=tuple(l)
print(l)
print(t)

enter n values 1,2,3,4,5

['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

5.Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods

In [30]:
class inputoutputstring:
    def __init__(self):
        self.s=""
    def getstring(self):
        self.s=input("enter string")
    def printstring(self):
         print(self.s.upper())

obj=inputoutputstring()
obj.getstring()
obj.printstring()

enter string education

EDUCATION

6.Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [34]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print (','.join(value))

 100,150,180

18,22,24

7.Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [16]:
items=[x for x in input().split(',')]
items.sort()//return none just modifies the original list
items

 hello,bag,world

['bag', 'hello', 'world']

8.Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [17]:
lines=[]
while True:
    s=input()
    if s:
        lines.append(s.upper())
    else:
        break
for sentence in lines:
    print(sentence)

 hello

HELLO

9.Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [14]:
words=[word for word in input().split(" ")]
sorted(list(set(words)))//returns new sorted list of items without modifying original list

 hello world hello people

['hello', 'people', 'world']

10.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001

In [19]:
items=[x for x in input().split(',')]
values=[]
for p in items:
    intp=int(p,2)
    if not intp%5:
        values.append(p)


print(values)

 0100,0011,1010,1001

['1010']

11.Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [31]:
values=[]
for i in range(1000,3001):
    s=str(i)
    
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
          values.append(s)
       

print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

11.Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:

In [33]:
items=[i for i in input().split(",")]
digit=[]
num=[]
for i in items:
    if i.isdigit():
        digit.append(i)
    else:
        num.append(i)
print(digit)
print(num)

 hello people 123

[]
['hello people 123']

In [35]:
items = [i for i in input().split(",")]
digit = []
num = []

for i in items:
    if i.isdigit():
        digit.append(i)
    else:
        num.append(i)

print(digit)
print(num)

 hello,123

['123']
['hello']